@import '../../styles/style-common.scss';

.forgot-password {
  height: 95vh;
  margin: 0 auto;
  .forgot-password-content {
    justify-content: center;
    text-align: center;
    .forgot-password__paper {
      margin: auto;
      .forgot-password__form {
        width: 320px;
        padding: 40px 40px 30px 40px;
        box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
        .forgot-password__logo {
          margin-bottom: 20px;
          height: 80px;
          width: 300px;
        }
        .error-text {
          color: red !important;
        }
        .password-text{
          color: blue !important;
        }
      }
    }
  }
  .back-to-login-link {
    font-size: 14px;
    color: #007bad;
    text-decoration: none;
    p {
      display: inline-block;
      margin: 20px 0px 20px 0px;
    }
  }
}
