.button-login,
.button-register {
  width: 100%;
  height: 52px;
  color: #ffffff !important;
  background-color: #be1e2d !important;
}
.button-login .MuiButton-label,
.button-register .MuiButton-label {
  font-size: 16px;
  text-transform: capitalize;
}

.dialog-button {
  padding: 4px 40px !important;
}
