.field {
  margin-bottom: 20px; }
  .field .field-secondary input {
    color: #e7e5e6;
    border-bottom: 1px solid #e7e5e6; }
  .field .field-secondary .MuiInputAdornment-root p {
    color: #e7e5e6; }
  .field .field-secondary .MuiInput-underline:after,
  .field .field-secondary .MuiInput-underline:before,
  .field .field-secondary .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 1px solid #e7e5e6; }
  .field .field-secondary label {
    color: #e7e5e6;
    opacity: 0.5; }
  .field .field-secondary .MuiSelect-select,
  .field .field-secondary svg {
    color: #e7e5e6; }
  .field .field-select {
    min-width: -webkit-fill-available; }
  .field .field-text {
    margin-bottom: 7px;
    font-weight: bold; }
  .field .filed-disable,
  .field .MuiInputBase-root.Mui-disabled {
    opacity: 0.8; }
    .field .filed-disable .MuiSelect-icon.Mui-disabled,
    .field .MuiInputBase-root.Mui-disabled .MuiSelect-icon.Mui-disabled {
      display: none; }
    .field .filed-disable .MuiInputBase-root input, .field .filed-disable .MuiInputBase-root:before, .field .filed-disable .MuiInputBase-root:after,
    .field .filed-disable .MuiInputBase-root .MuiInput-underline:hover:before,
    .field .MuiInputBase-root.Mui-disabled .MuiInputBase-root input,
    .field .MuiInputBase-root.Mui-disabled .MuiInputBase-root:before,
    .field .MuiInputBase-root.Mui-disabled .MuiInputBase-root:after,
    .field .MuiInputBase-root.Mui-disabled .MuiInputBase-root .MuiInput-underline:hover:before {
      border-bottom: 0 !important; }
    .field .filed-disable input, .field .filed-disable:before, .field .filed-disable:after,
    .field .MuiInputBase-root.Mui-disabled input,
    .field .MuiInputBase-root.Mui-disabled:before,
    .field .MuiInputBase-root.Mui-disabled:after {
      border-bottom: 0; }
  .field .MuiFormHelperText-root {
    position: absolute;
    bottom: -20px;
    white-space: nowrap;
    overflow: hidden; }
