.login {
  height: 95vh;
  margin: 0 auto;
}
.login .login-content {
  justify-content: center;
}
.login .login-content .login__paper {
  margin: auto;
}
.login .login-content .login__paper .login__form {
  width: 320px;
  padding: 40px 40px 10px 40px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
}
.login .login-content .login__paper .login__form .logo {
  margin-bottom: 20px;
  width: 310px;
  margin-bottom: 15px;
}
.login .forgot-password-link {
  font-size: 14px;
  color: #007bad;
  text-decoration: none;
}
.login .forgot-password-link p {
  display: inline-block;
  margin: 0px 0px 20px 0px;
}
.login .register-link {
  font-size: 14px;
  display: flex;
  margin-top: 10px;
  text-align: center;
}
.login .register-link a {
  text-decoration: none;
}
.login .register-link p {
  margin: 0px 0px 20px 0px;
  color: #007bad;
}
