/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content__container {
        column-count: 1;
        column-gap: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content__container {
        column-count: 2;
        column-gap: 5px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content__container {
        column-count: 3;
        column-gap: 5px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content__container {
        column-count: 4;
        column-gap: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content__container {
        column-count: 5;
        column-gap: 5px;
    }
}